<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database Results getting Orders: </h2>
    <ul>
        <%= results %>>
    </ul>
</div>

</body>
</html>